<!doctype html>
<html lang="en">
<head>
    {{ template "bootstrap.css" . }}
    {{ template "css" . }}
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark p-0">
        <div id="logo" class="p2">
            <a class="navbar-brand" href="/">Restic</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pl-2" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ if eq .Curpath "/" }}active{{ end }}">
                    <a class="nav-link" href="/">Home
                        {{ if eq .Curpath "/" }}
                        <span class="sr-only">(current)</span>
                        {{ end }}
                    </a>
                </li>
                <li class="nav-item {{ if eq .Curpath "/snapshots" }}active{{ end }}">
                    <a class="nav-link" href="/snapshots">Snapshots
                        {{ if eq .Curpath "/snapshots" }}
                        <span class="sr-only">(current)</span>
                        {{ end }}
                    </a>
                </li>
{{/*                <li class="nav-item dropdown">*/}}
{{/*                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"*/}}
{{/*                       aria-expanded="false">Example Dropdown</a>*/}}
{{/*                    <div class="dropdown-menu" aria-labelledby="dropdown03">*/}}
{{/*                        <a class="dropdown-item" href="#">One</a>*/}}
{{/*                        <a class="dropdown-item" href="#">Two</a>*/}}
{{/*                        <a class="dropdown-item" href="#">Three</a>*/}}
{{/*                    </div>*/}}
{{/*                </li>*/}}
            </ul>
        </div>
    </nav>
</header>
<main role="main">
    <div class="row">
        <div class="col-12">
            {{ template "content" . }}
        </div>
    </div>
</main>
<footer class="footer bg-dark">
    <div class="container">
        <span class="text-muted">Copyright 2014, Alexander Neumann alexander@bumpern.de</span>
    </div>
</footer>
{{ template "jqueryjs" . }}
{{ template "bootstrapjs" . }}
{{ template "js" . }}
</body>
</html>
